<div class="import-help-new" ng-show="!job.id">
    <h2>{{ts('Match Columns')}}</h2>
</div>

<!--
New step - we should:
- Add two database columns to importjob (data + mapping as serialized array)
- Store the CSV data temporarily after step 1 instead of trying to parse it immediately
- Show a list of columns + allow mapping them to database columns
- Store the mapping after step 2
- Try and load the file into the record table based on mapping data and show any errors
- Continue to step 3
(And: improve tag processing + other minor fixes)
-->

<div class="crm-block crm-form-block">

    <div class="crm-ui-custom-buttons">
        <button crm-icon="fa-caret-right fa-lg" title="{{ts('Save and Continue')}}" ng-click="submitStep2()">{{ts('Save & Continue')}}</button>
        <button crm-icon="fa-fast-forward" title="{{ts('Skip step')}}" ng-click="loadThenGotoStep3()"
                ng-show="job.id && job.status != 'new' && job.status != 'parsefile'">{{ts('Skip')}}</button>
    </div>
</div>