<div class="import-help-new">
    <h2>{{ts('Match Columns')}}</h2>

    <p>{{ts('Choose a column from the CSV file for each field that you want to import.')}}<br/>
        {{ts('Fields marked with * are required and must be mapped to a column before you continue.')}}</p>
</div>

<div class="crm-block crm-form-block">
    <table class="form-layout-compressed">
        <tr ng-repeat="(fIndex, field) in job_fields" class="crm-matchcolumn">
            <td class="label"><label for="job_field_{{fIndex}}">{{field.title}}
                <span ng-if="field.required" class="is-required">*</span></label></td>
            <td><select id="job_field_{{fIndex}}" ng-model="field.mapping">
                <option value=""></option>
                <option ng-repeat="option in field.mappingOptions" ng-value="option">{{option}}</option>
            </select></td>
        </tr>
    </table>

    <div class="crm-ui-custom-buttons">
        <button crm-icon="fa-caret-right fa-lg" title="{{ts('Save and Continue')}}" ng-click="submitStep2()">{{ts('Save & Continue')}}</button>
        <button crm-icon="fa-fast-forward" title="{{ts('Skip step')}}" ng-click="loadThenGotoStep3()"
                ng-show="job.id && job.status != 'new' && job.status != 'parsefile'">{{ts('Skip')}}</button>
    </div>
</div>